#store  {
    #header ul {
        margin: 50px auto 20px auto;
        width: 400px;
        display: flex;
        justify-content: space-between;
        li {
            text-align: center;
            span {
                display: block;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #ccc;
                margin-bottom: 10px;
            }
            .active {
                background-color: #333;
            }
            #icons {
                font-size: 40px;
                color: #fff;
                margin-top: 13px;
            }
        }
    }
}
#storeTable {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    th#check {
        width: 100px;
    }
    li {
        img {
            width: 100px;
        }
    }
}