#about_con {
    width: 100%;
    background-color: #f0f0f0;
    margin: 0;
    #con_inner {
        background: url(../../public/img/about/section_title_pc_bg.jpg) 50% 0 no-repeat;
        background-size: 100% auto;
        height: 2300px;
        #aboutTop {
            padding: 50px;
            text-align: center;
            h1 {
                font-size: 46px;
                padding: 30px 0;
                text-align: center;
                text-shadow: 3px 3px 5px #999;
            }
            p {
                color: #333;
                font-size: 18px;
            }
        }
    }
    #about {
        padding: 0 20px;
        margin-top: 50px;
        #about-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow: visible;
            .about-card {
                margin-top: 10px;
                margin-bottom: 50px;
                position: relative;
                width: 320px;
                height: 400px;
                background: #fff;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 20%);
                transition: 0.5s;
                img {
                    height: 240px;
                }
                .about-contents {
                    padding: 25px;
                    height: 300px;
                    background-color: #fff;
                    position: relative;
                    h3 {
                        font-size: 18px;
                        line-height: 40px;
                        margin: 0 0 10px 0;
                    }
                    p {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}
